// main color
$primaryColor: #772508; // 主题色
$primary2Color: #772508; // 主题色(按钮)
$primary2DisableColor: rgba(119, 37, 8, 0.3); // 主题色disabled(按钮)

$priceColor: #772508; // 价格颜色
$normalPriceColor: #999; // 划线价颜色 #999
$seckillColor: #8a2222; // 秒杀主题颜色

// img path
$homeHeadPath: '~@/assets/image/hh-icon/b0-home/home-banner-bg.png'; // 首页bg
$ProfileHeadPath: '~@/assets/image/hh-icon/f0-profile/bg-profile.png'; // 个人中心bg
$surplusIconPath: '~@/assets/image/change-icon/quanyi-price-icon.png'; // 权益价icon

/*
 * 更换icon组图片
 * \assets\image\tabbar-icon  底部导航栏icon地址 
 */
